{% extends 'base.html.twig' %}

{% block title %}Elève{% endblock %}

{% block body %}
<div class="container minVhTheme mx-auto ptNav text-center">

    <div class="m-3">
        <a class="btn bg-primary px-3 py-2 rounded text-white" href="{{ path('eleve_index') }}"><i class="fas fa-arrow-left"></i> Retour à la liste</a>
    </div>

    <div class="container m-auto text-center">
        <h1 class="my-5">Elève</h1>

        {{ include('eleve/_form.html.twig', {'button_label': 'Modifier'}) }}

    </div>
</div>
{% endblock %}
