{% extends 'base.html.twig' %}

{% block title %}Oublie de mot de passe{% endblock %}

{% block body %}
    <div class="container">
        <h2>Vous avez oublié votre mot de passe ?</h2>
        {{ form_start(form) }}
        {{ form_row(form.objet) }}
        {{ form_row(form.email) }}

        <input type="submit" name="submit" class="btn btn-success">
    </div>
    {{ form_end(form) }}
{% endblock %}