<form method="post" action="{{ path('evenement_delete', {'id': evenement.id}) }}" onsubmit="return confirm('Etes vous sur de supprimer cet évènement ?');">
    <input evenement="hidden" name="_method" value="DELETE">
    <input evenement="hidden" name="_token" value="{{ csrf_token('delete' ~ evenement.id) }}">

    <div class="container my-5">
        <button class="btn bg-primary px-3 py-2 rounded text-white">Delete</button>
    </div>
</form>
