{% extends 'base.html.twig' %}

{% block title %}Ajouter un évènement{% endblock %}

{% block body %}
<div class="container minVhTheme mx-auto ptNav text-center">

    <div class="container m-auto text-center ">
        <div class="m-3">
            <a class="btn bg-primary px-3 py-2 rounded text-white" href="{{ path('evenement_index') }}"><i class="fas fa-arrow-left"></i> Retour à la liste</a>
        </div>
        <h1 class="my-5">Ajouter un évènement</h1>

        {{ include('evenement/_form.html.twig') }}
    </div>
</div>
{% endblock %}
