{% extends 'base.html.twig' %}

{% block title %}Evènement{% endblock %}

{% block body %}
<div class="container minVhTheme mx-auto ptNav text-center">

    <div class="float-left m-3">
        <a class="btn bg-primary px-3 py-2 rounded text-white" href="{{ path('evenement_index') }}"><i class="fas fa-arrow-left"></i> Retour à la liste</a>
    </div>
    <div class="container m-auto text-center">
        <h1>Montrer un évènement</h1>
        <div class="container m-auto py-5">
            <h3>Id: {{ evenement.id }}</h3>
            <h3>Nom: {{ evenement.nom }}</h3>
        </div>
        {{ include('evenement/_delete_form.html.twig') }}
    </div>
</div>
{% endblock %}
