{% extends 'base.html.twig' %}

{% block title %}Oublie de mot de passe{% endblock %}

{% block body %}
    <div class="container">
        <div id="oublieMDP">
            <h2>Vous avez oublié votre mot de passe ?</h2>
            {{ form(contactForm) }}
        </div>
{% endblock %}