<body>
    <table>
        <tr>
            <td>
                Objet:
            </td>
            <td>
                {{ message.objet }}
            </td>
        </tr>
        <tr>
            <td>
                Email:
            </td>
            <td>
                {{ message.email }}
            </td>
        </tr>
    </table>

</body>