{% extends 'base.html.twig' %}

{% block title %}Ajouter un sport{% endblock %}

{% block body %}
    <div class="m-3">
        <a class="btn bg-primary px-3 py-2 rounded text-white" href="{{ path('sport_index') }}"><i class="fas fa-arrow-left"></i> Retour à la liste</a>
    </div>

    <div class="container m-auto text-center ">
        <h1 class="my-5">Ajouter un Sport</h1>

        {{ include('sport/_form.html.twig') }}
    </div>

{% endblock %}
